{% extends 'user/main.html' %}
{% load static %}


{% block css %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="{% static '/css/user/home.css' %}">
{% endblock %}


{% block content %}
<div class="container" id="recommendations-container">
  <div class="row">
    {% for user in recommendations %}
      <div class="col s3">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ user.profile_pic.url }}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ user.name }}<i class="material-icons right">more_vert</i></span>
            <p>{{ user.bio }}</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ user.first_name }} {{ user.last_name }}<i class="material-icons right">close</i></span>
            <ul>
              <li>Gender: {{ user.gender }}</li>
              <li>Date of Birth: {{ user.date_of_birth }}</li>
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
    
    <div class="col s3">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCPXsiUGMtSxttOA401Fz_cRXtoOB9AyZVaQ&usqp=CAU">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i
              class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}