{% extends 'user/main.html' %}
{% load static %}


{% block css %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="{% static '/css/user/home.css' %}">
{% endblock %}


{% block content %}
<div class="container" id="recommendations-container">
  <div class="row">
    {% for user in recommendations %}
      <div class="col s3">
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            {% if user.profile_pic %}
              <img class="activator" src="{{ user.profile_pic.url }}">
            {% else %}
              <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRh8IVSzJJRYyxTfrE-z5z_JvXcB7h_oPz_Yg&usqp=CAU">
            {% endif %}
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ user.name }}<i class="material-icons right">more_vert</i></span>
            <p>{{ user.bio }}</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ user.first_name }} {{ user.last_name }}<i class="material-icons right">close</i></span>
            <ul>
              <li><strong>Gender:</strong> {{ user.gender }}</li>
              <li><strong>Date of Birth:</strong> {{ user.date_of_birth }}</li>
              <li><strong>City:</strong> {{ user.city }}</li>
              <li>
                <strong>Interests:</strong>
                {% for interest in user.interests.all %}{% if forloop.counter != 1 %}, {% endif %}{{ interest }}{% endfor %}
              </li>
            </ul><br><br>
            <center><a class="waves-effect waves-light btn-small">Open profile</a></center>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}