<div class="navbar-fixed-top">
    <nav>
        <div class="nav-wrapper">
            <div class="container" id="navbar-container">
                <a href="/" class="brand-logo">Reachme</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>Welcome, {{ request.user }}!</li>
                    <li><a href="/dashboard/{{ user_id }}">Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>